<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tlv8.doc.svr.generator.dao.IDocAdminDao">
	<resultMap id="resultDocAdmin"
		type="com.tlv8.doc.svr.generator.beans.DocAdmin">
	</resultMap>
	<select id="getByPrimaryKey" resultMap="resultDocAdmin"
		parameterType="java.lang.String">
		select * from Doc_Admin where fID = #{fID,jdbcType=VARCHAR}
	</select>
	<select id="getList" resultMap="resultDocAdmin">
		select * from Doc_Admin
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from 
		Doc_Admin where fID = #{fID,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.tlv8.doc.svr.generator.beans.DocAdmin">
		insert into Doc_Admin(fID, fLeve, fName, version) 
		values
		(#{fID,jdbcType=VARCHAR},
		#{fLeve,jdbcType=INTEGER},
		#{fName,jdbcType=VARCHAR},
		#{version,jdbcType=INTEGER})
	</insert>
	<update id="update" parameterType="com.tlv8.doc.svr.generator.beans.DocAdmin">
		update Doc_Admin 
		set fLeve = #{fLeve,jdbcType=INTEGER},
		fName = #{fName,jdbcType=VARCHAR},
		version = #{version,jdbcType=INTEGER}  
		where fID = #{fID,jdbcType=VARCHAR}
	</update>
</mapper>