@charset "UTF-8";
/* CSS Document */
#loginpage{background:url('../images/login/randombgb.jpg') no-repeat; background-size: cover;}

#login{width:100%;position:absolute;top:20%;}
#loginpage .main{width:960px;margin:0px auto;height:316px;}
/*.main .leftshow{float:left;}
.main .leftshow .systit{color:#fff;font-size:26px;font-weight:bold;}*/
#loginpage .logbox{width:418px;height:316px;background:#fff; position:relative;left:271px;box-shadow:2px 2px 5px #000;border-radius:5px;}

#loginpage .header {height:50px; background:#3c4145;color:#fff; border-bottom: 1px solid #E2E2E2;position: relative;font-family: "Hiragino Sans GB","微软雅黑";padding: 10px 0 0 20px;line-height:50px;font-size: 22px;}
#loginpage .web_login {width: 418px;position: relative;padding-bottom: 40px;}
#loginform{width: 272px;margin: 0 auto;}
#loginpage .web_login .inputOuter {width: 272px;height: 42px;background: url('../images/logo/icon_1.png') no-repeat 0px 1px;margin:20px 0px;}
#loginpage .web_login .inputstyle {width: 258px;position: relative;top: 2px;left: 2px;height: 18px;padding: 11px 0 11px 10px;line-height: 18px;border: none;background: none;color: #333;font-family: Verdana,Tahoma,Arial;font-size: 16px;ime-mode: disabled;}
#loginpage .web_login .submit {position: relative;height: 40px;}
#loginpage .web_login .login_button {position: absolute;left: 0;outline: none;}
#loginpage .web_login .login_button .btn {width: 115px;height: 35px;line-height: 35px;border: none;font-size: 18px;font-weight: bold;color: white;cursor: pointer;background: url('../images/logo/icon_1.png') no-repeat 1px -88px;}

#loginpage .footer{position: relative;height:25px;line-height:25px; text-align:right;}
#loginpage .footer a{margin:0px 10px;font-family: Tahoma,Verdana,Arial,宋体;color:#666;font-size: 11pt;}
#loginpage .footer a:hover{margin:0px 10px;font-family: Tahoma,Verdana,Arial,宋体;color:#3185ae;font-size: 11pt;}

#sysmain{background:url('../images/index/4.JPG') center no-repeat;}
#sysmain .content{width:1300px;height:700px;background:#fff;margin:20px auto;}
#sysmain .content .syshead{height:48px;background:#3c4145;padding:10px 0 0 20px;}
#sysmain .content .syshead div p.left{float:left;width:263px; height:44px;}
#sysmain .content .syshead div p.right{float:right;width:200px;height:44px;line-height:44px;}
#sysmain .content .syshead div p.right span{color:#6a7e85;margin:0px 5px;}
#sysmain .content .syshead div p.right a{margin:0px 5px;color:#fb9d00;}
#sysmain .content .syshead div p.right a.outsys{color:#6a7e85;}
#sysmain .content .syshead div p.right a.outsys img{vertical-align:middle;margin-right:2px;}

#sysmain .content .sysmain{height:100%;}
#sysmain .content .sysmain .sysmenua{float:left;width:150px;height:100%;background:#30383b;/*border-left:2px solid #76af46;*/}
#sysmain .content .sysmain .sysmenua ul li{height:48px;width:150px;}
#sysmain .content .sysmain .sysmenua ul li a{height:48px;width:126px;border-left:4px solid #30383b;background:#30383b;color:#697d84;display:block;padding-left:20px;line-height:48px;}
#sysmain .content .sysmain .sysmenua ul li a:hover{height:48px;width:126px;border-left:4px solid #77b049;background:#282d31;color:#77b049;display:block;padding-left:20px;line-height:48px;}
#sysmain .content .sysmain .sysmenua ul li .current{border-left:4px solid #77b049;background:#282d31;color:#77b049;}



#sysmain .content .sysmain .sysmenub{float:left;width:199px;height:100%;background:#e6e7e9;border-left:1px solid  #D1D6D9;}/*#d2d6d9 #117a9a*/
#sysmain .content .sysmain .sysmenub p.smenubtit{color:#117a9a;width:179px;height:60px;border-bottom:1px solid #D1D6D9;font-size:20px;line-height:60px;padding-left:20px;margin-bottom:10px;}
#sysmain .content .sysmain .sysmenub ul li{width:199px;height:36px;}
#sysmain .content .sysmain .sysmenub ul li a{width:179px;height:36px;border-left:4px solid #e6e7e9;padding-left:16px;color:#969897;display:block;line-height:36px;}
#sysmain .content .sysmain .sysmenub ul li a:hover{width:179px;height:36px;border-left:4px solid #107999;padding-left:16px;color:#107999;display:block;line-height:36px;background:#d2d6d9;}
#sysmain .content .sysmain .sysmenub ul li .current{border-left:4px solid #107999;color:#107999;background:#d2d6d9;}


#sysmain .content .sysmain .sysinfo{float:left;width:950px;height:100%;background:#fff;}
#sysmain .content .sysmain .sysinfo .sinfotit{ background:#f4f5f6;color:#434343; height:60px;border-bottom:1px solid #D1D6D9;font-size:18px;line-height:60px;padding-left:20px;margin-bottom:10px;}
#sysmain .content .sysmain .sysinfo .exec{height:58px;}
#sysmain .content .sysmain .sysinfo .exec .execact{height:25px;line-height:25px;}
#sysmain .content .sysmain .sysinfo .list{}

.loading{position: absolute; z-index: 999; left: 50%; top: 50%; margin-left: -20px; margin-top: -40px; display: none;}


.sysinfo input[type=checkbox]{ display:none;}
#selectall{cursor:pointer;}
img.chk{cursor:pointer;}
.execbtn{height:25px;color:#fff;line-height:21px;padding:2px 10px;background:#a5cd52;-webkit-border-radius: 2px;border-radius:2px;border-left:0px;border-top:0px;border-right:0px; border-bottom:1px;margin:0px 10px;cursor:pointer;}
.execbtn:hover{background:#c1dd88;}

.execck{height:16px;width:16px;padding:8px;background:url('../images/index/ck_up.gif') no-repeat;margin:0px 10px;cursor:pointer;}
.execck:hover{background:url('../images/index/ck_down.gif') no-repeat;}

.copyright { font-size:14px; opacity:0.3; color:#fff; display:block;width:100%; float:left; text-align:center; position: absolute; z-index: 1; left: 0px; bottom: 20px;}