@CHARSET "UTF-8";

/*页面文字样式*/
.spanFont{
	font-family: '\'cb\'ce\'cc\'e5'; 
	color: #000000; 
	font-size: 14px;
}
a{
	
	text-decoration:none;
}
a:link {color: #000099}
a:visited {color: #00FF00}
a:hover {color: #2E8B57}
a:active {color: #0000FF}
span{
	background: url(image/symbol.png) no-repeat center 4;
}