.tabpanal_line{
	height:22px;
	font-size:12px;
	line-height:22px;
	text-align:center;
	border-bottom:1px solid #008888;
}
.tabpanal{
	width:60px;
	height:22px;
	font-size:12px;
	line-height:22px;
	text-align:center;
	border-top:1px solid #008888;
	border-left:1px solid #008888;
	border-right:1px solid #008888;
}
.tab_Body{
	font-size:12px;
	line-height:22px;
}

a{
	color:#000000;
	text-decoration: none;
}

.activate{
	border-bottom: 1px solid #eee;
	padding: 2px;
}