/* CSS Document */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size:12px;
}

.buttonitem{
	background:url(../image/d_5.gif);
	border: 1px solid #A4DBF1; 
	width:80px; height:22px;
	cursor: pointer;
	border-radius:3px; 
	font-size: 11pt;
}

.buttonitem:hover{
	background:url(../image/d_5_h.gif);
	color: #ffffff;
}
div{
	cursor: default;
}