@font-face {
	font-family: MuiiconSpread;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/mui-icons-extra.ttf') format('truetype');
	/* iOS 4.1- */
}

.mui-icon-extra {
	font-family: MuiiconSpread;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.mui-icon-extra-cold:before {
	content: "\e500";
}

.mui-icon-extra-share:before {
	content: "\e200";
}

.mui-icon-extra-class:before {
	content: "\e118";
}

.mui-icon-extra-custom:before {
	content: "\e117";
}

.mui-icon-extra-new:before {
	content: "\e103";
}

.mui-icon-extra-card:before {
	content: "\e104";
}

.mui-icon-extra-grech:before {
	content: "\e105";
}

.mui-icon-extra-trend:before {
	content: "\e106";
}

.mui-icon-extra-filter:before {
	content: "\e207";
}

.mui-icon-extra-holiday:before {
	content: "\e300";
}

.mui-icon-extra-cart:before {
	content: "\e107";
}

.mui-icon-extra-heart:before {
	content: "\e180";
}

.mui-icon-extra-computer:before {
	content: "\e600";
}

.mui-icon-extra-express:before {
	content: "\e108";
}

.mui-icon-extra-gift:before {
	content: "\e109";
}

.mui-icon-extra-gold:before {
	content: "\e102";
}

.mui-icon-extra-lamp:before {
	content: "\e601";
}

.mui-icon-extra-rank:before {
	content: "\e110";
}

.mui-icon-extra-notice:before {
	content: "\e111";
}

.mui-icon-extra-sweep:before {
	content: "\e202";
}

.mui-icon-extra-arrowleftcricle:before {
	content: "\e401";
}

.mui-icon-extra-dictionary:before {
	content: "\e602";
}

.mui-icon-extra-heart-filled:before {
	content: "\e119";
}

.mui-icon-extra-xiaoshuo:before {
	content: "\e607";
}

.mui-icon-extra-top:before {
	content: "\e403";
}

.mui-icon-extra-people:before {
	content: "\e203";
}

.mui-icon-extra-topic:before {
	content: "\e603";
}

.mui-icon-extra-hotel:before {
	content: "\e301";
}

.mui-icon-extra-like:before {
	content: "\e206";
}

.mui-icon-extra-regist:before {
	content: "\e201";
}

.mui-icon-extra-order:before {
	content: "\e113";
}

.mui-icon-extra-alipay:before {
	content: "\e114";
}

.mui-icon-extra-find:before {
	content: "\e400";
}

.mui-icon-extra-arrowrightcricle:before {
	content: "\e402";
}

.mui-icon-extra-calendar:before {
	content: "\e115";
}

.mui-icon-extra-prech:before {
	content: "\e116";
}

.mui-icon-extra-cate:before {
	content: "\e501";
}

.mui-icon-extra-comment:before {
	content: "\e209";
}

.mui-icon-extra-at:before {
	content: "\e208";
}

.mui-icon-extra-addpeople:before {
	content: "\e204";
}

.mui-icon-extra-peoples:before {
	content: "\e205";
}

.mui-icon-extra-calc:before {
	content: "\e101";
}

.mui-icon-extra-classroom:before {
	content: "\e604";
}

.mui-icon-extra-phone:before {
	content: "\e404";
}

.mui-icon-extra-university:before {
	content: "\e605";
}

.mui-icon-extra-outline:before {
	content: "\e606";
}

.mui-icon-extra-home:before {
	content: "\e900";
}

.mui-icon-extra-home2:before {
	content: "\e901";
}

.mui-icon-extra-home3:before {
	content: "\e902";
}

.mui-icon-extra-office:before {
	content: "\e903";
}

.mui-icon-extra-newspaper:before {
	content: "\e904";
}

.mui-icon-extra-pencil:before {
	content: "\e905";
}

.mui-icon-extra-pencil2:before {
	content: "\e906";
}

.mui-icon-extra-quill:before {
	content: "\e907";
}

.mui-icon-extra-pen:before {
	content: "\e908";
}

.mui-icon-extra-blog:before {
	content: "\e909";
}

.mui-icon-extra-eyedropper:before {
	content: "\e90a";
}

.mui-icon-extra-droplet:before {
	content: "\e90b";
}

.mui-icon-extra-paint-format:before {
	content: "\e90c";
}

.mui-icon-extra-image:before {
	content: "\e90d";
}

.mui-icon-extra-images:before {
	content: "\e90e";
}

.mui-icon-extra-camera:before {
	content: "\e90f";
}

.mui-icon-extra-headphones:before {
	content: "\e910";
}

.mui-icon-extra-music:before {
	content: "\e911";
}

.mui-icon-extra-play:before {
	content: "\e912";
}

.mui-icon-extra-film:before {
	content: "\e913";
}

.mui-icon-extra-video-camera:before {
	content: "\e914";
}

.mui-icon-extra-dice:before {
	content: "\e915";
}

.mui-icon-extra-pacman:before {
	content: "\e916";
}

.mui-icon-extra-spades:before {
	content: "\e917";
}

.mui-icon-extra-clubs:before {
	content: "\e918";
}

.mui-icon-extra-diamonds:before {
	content: "\e919";
}

.mui-icon-extra-bullhorn:before {
	content: "\e91a";
}

.mui-icon-extra-connection:before {
	content: "\e91b";
}

.mui-icon-extra-podcast:before {
	content: "\e91c";
}

.mui-icon-extra-feed:before {
	content: "\e91d";
}

.mui-icon-extra-mic:before {
	content: "\e91e";
}

.mui-icon-extra-book:before {
	content: "\e91f";
}

.mui-icon-extra-books:before {
	content: "\e920";
}

.mui-icon-extra-library:before {
	content: "\e921";
}

.mui-icon-extra-file-text:before {
	content: "\e922";
}

.mui-icon-extra-profile:before {
	content: "\e923";
}

.mui-icon-extra-file-empty:before {
	content: "\e924";
}

.mui-icon-extra-files-empty:before {
	content: "\e925";
}

.mui-icon-extra-file-text2:before {
	content: "\e926";
}

.mui-icon-extra-file-picture:before {
	content: "\e927";
}

.mui-icon-extra-file-music:before {
	content: "\e928";
}

.mui-icon-extra-file-play:before {
	content: "\e929";
}

.mui-icon-extra-file-video:before {
	content: "\e92a";
}

.mui-icon-extra-file-zip:before {
	content: "\e92b";
}

.mui-icon-extra-copy:before {
	content: "\e92c";
}

.mui-icon-extra-paste:before {
	content: "\e92d";
}

.mui-icon-extra-stack:before {
	content: "\e92e";
}

.mui-icon-extra-folder:before {
	content: "\e92f";
}

.mui-icon-extra-folder-open:before {
	content: "\e930";
}

.mui-icon-extra-folder-plus:before {
	content: "\e931";
}

.mui-icon-extra-folder-minus:before {
	content: "\e932";
}

.mui-icon-extra-folder-download:before {
	content: "\e933";
}

.mui-icon-extra-folder-upload:before {
	content: "\e934";
}

.mui-icon-extra-price-tag:before {
	content: "\e935";
}

.mui-icon-extra-price-tags:before {
	content: "\e936";
}

.mui-icon-extra-barcode:before {
	content: "\e937";
}

.mui-icon-extra-qrcode:before {
	content: "\e938";
}

.mui-icon-extra-ticket:before {
	content: "\e939";
}

.mui-icon-extra-cart:before {
	content: "\e93a";
}

.mui-icon-extra-coin-dollar:before {
	content: "\e93b";
}

.mui-icon-extra-coin-euro:before {
	content: "\e93c";
}

.mui-icon-extra-coin-pound:before {
	content: "\e93d";
}

.mui-icon-extra-coin-yen:before {
	content: "\e93e";
}

.mui-icon-extra-credit-card:before {
	content: "\e93f";
}

.mui-icon-extra-calculator:before {
	content: "\e940";
}

.mui-icon-extra-lifebuoy:before {
	content: "\e941";
}

.mui-icon-extra-phone:before {
	content: "\e942";
}

.mui-icon-extra-phone-hang-up:before {
	content: "\e943";
}

.mui-icon-extra-address-book:before {
	content: "\e944";
}

.mui-icon-extra-envelop:before {
	content: "\e945";
}

.mui-icon-extra-pushpin:before {
	content: "\e946";
}

.mui-icon-extra-location:before {
	content: "\e947";
}

.mui-icon-extra-location2:before {
	content: "\e948";
}

.mui-icon-extra-compass:before {
	content: "\e949";
}

.mui-icon-extra-compass2:before {
	content: "\e94a";
}

.mui-icon-extra-map:before {
	content: "\e94b";
}

.mui-icon-extra-map2:before {
	content: "\e94c";
}

.mui-icon-extra-history:before {
	content: "\e94d";
}

.mui-icon-extra-clock:before {
	content: "\e94e";
}

.mui-icon-extra-clock2:before {
	content: "\e94f";
}

.mui-icon-extra-alarm:before {
	content: "\e950";
}

.mui-icon-extra-bell:before {
	content: "\e951";
}

.mui-icon-extra-stopwatch:before {
	content: "\e952";
}

.mui-icon-extra-calendar:before {
	content: "\e953";
}

.mui-icon-extra-printer:before {
	content: "\e954";
}

.mui-icon-extra-keyboard:before {
	content: "\e955";
}

.mui-icon-extra-display:before {
	content: "\e956";
}

.mui-icon-extra-laptop:before {
	content: "\e957";
}

.mui-icon-extra-mobile:before {
	content: "\e958";
}

.mui-icon-extra-mobile2:before {
	content: "\e959";
}

.mui-icon-extra-tablet:before {
	content: "\e95a";
}

.mui-icon-extra-tv:before {
	content: "\e95b";
}

.mui-icon-extra-drawer:before {
	content: "\e95c";
}

.mui-icon-extra-drawer2:before {
	content: "\e95d";
}

.mui-icon-extra-box-add:before {
	content: "\e95e";
}

.mui-icon-extra-box-remove:before {
	content: "\e95f";
}

.mui-icon-extra-download:before {
	content: "\e960";
}

.mui-icon-extra-upload:before {
	content: "\e961";
}

.mui-icon-extra-floppy-disk:before {
	content: "\e962";
}

.mui-icon-extra-drive:before {
	content: "\e963";
}

.mui-icon-extra-database:before {
	content: "\e964";
}

.mui-icon-extra-undo:before {
	content: "\e965";
}

.mui-icon-extra-redo:before {
	content: "\e966";
}

.mui-icon-extra-undo2:before {
	content: "\e967";
}

.mui-icon-extra-redo2:before {
	content: "\e968";
}

.mui-icon-extra-forward:before {
	content: "\e969";
}

.mui-icon-extra-reply:before {
	content: "\e96a";
}

.mui-icon-extra-bubble:before {
	content: "\e96b";
}

.mui-icon-extra-bubbles:before {
	content: "\e96c";
}

.mui-icon-extra-bubbles2:before {
	content: "\e96d";
}

.mui-icon-extra-bubble2:before {
	content: "\e96e";
}

.mui-icon-extra-bubbles3:before {
	content: "\e96f";
}

.mui-icon-extra-bubbles4:before {
	content: "\e970";
}

.mui-icon-extra-user:before {
	content: "\e971";
}

.mui-icon-extra-users:before {
	content: "\e972";
}

.mui-icon-extra-user-plus:before {
	content: "\e973";
}

.mui-icon-extra-user-minus:before {
	content: "\e974";
}

.mui-icon-extra-user-check:before {
	content: "\e975";
}

.mui-icon-extra-user-tie:before {
	content: "\e976";
}

.mui-icon-extra-quotes-left:before {
	content: "\e977";
}

.mui-icon-extra-quotes-right:before {
	content: "\e978";
}

.mui-icon-extra-hour-glass:before {
	content: "\e979";
}

.mui-icon-extra-spinner:before {
	content: "\e97a";
}

.mui-icon-extra-spinner2:before {
	content: "\e97b";
}

.mui-icon-extra-spinner3:before {
	content: "\e97c";
}

.mui-icon-extra-spinner4:before {
	content: "\e97d";
}

.mui-icon-extra-spinner5:before {
	content: "\e97e";
}

.mui-icon-extra-spinner6:before {
	content: "\e97f";
}

.mui-icon-extra-spinner7:before {
	content: "\e980";
}

.mui-icon-extra-spinner8:before {
	content: "\e981";
}

.mui-icon-extra-spinner9:before {
	content: "\e982";
}

.mui-icon-extra-spinner10:before {
	content: "\e983";
}

.mui-icon-extra-spinner11:before {
	content: "\e984";
}

.mui-icon-extra-binoculars:before {
	content: "\e985";
}

.mui-icon-extra-search:before {
	content: "\e986";
}

.mui-icon-extra-zoom-in:before {
	content: "\e987";
}

.mui-icon-extra-zoom-out:before {
	content: "\e988";
}

.mui-icon-extra-enlarge:before {
	content: "\e989";
}

.mui-icon-extra-shrink:before {
	content: "\e98a";
}

.mui-icon-extra-enlarge2:before {
	content: "\e98b";
}

.mui-icon-extra-shrink2:before {
	content: "\e98c";
}

.mui-icon-extra-key:before {
	content: "\e98d";
}

.mui-icon-extra-key2:before {
	content: "\e98e";
}

.mui-icon-extra-lock:before {
	content: "\e98f";
}

.mui-icon-extra-unlocked:before {
	content: "\e990";
}

.mui-icon-extra-wrench:before {
	content: "\e991";
}

.mui-icon-extra-equalizer:before {
	content: "\e992";
}

.mui-icon-extra-equalizer2:before {
	content: "\e993";
}

.mui-icon-extra-cog:before {
	content: "\e994";
}

.mui-icon-extra-cogs:before {
	content: "\e995";
}

.mui-icon-extra-hammer:before {
	content: "\e996";
}

.mui-icon-extra-magic-wand:before {
	content: "\e997";
}

.mui-icon-extra-aid-kit:before {
	content: "\e998";
}

.mui-icon-extra-bug:before {
	content: "\e999";
}

.mui-icon-extra-pie-chart:before {
	content: "\e99a";
}

.mui-icon-extra-stats-dots:before {
	content: "\e99b";
}

.mui-icon-extra-stats-bars:before {
	content: "\e99c";
}

.mui-icon-extra-stats-bars2:before {
	content: "\e99d";
}

.mui-icon-extra-trophy:before {
	content: "\e99e";
}

.mui-icon-extra-gift:before {
	content: "\e99f";
}

.mui-icon-extra-glass:before {
	content: "\e9a0";
}

.mui-icon-extra-glass2:before {
	content: "\e9a1";
}

.mui-icon-extra-mug:before {
	content: "\e9a2";
}

.mui-icon-extra-spoon-knife:before {
	content: "\e9a3";
}

.mui-icon-extra-leaf:before {
	content: "\e9a4";
}

.mui-icon-extra-rocket:before {
	content: "\e9a5";
}

.mui-icon-extra-meter:before {
	content: "\e9a6";
}

.mui-icon-extra-meter2:before {
	content: "\e9a7";
}

.mui-icon-extra-hammer2:before {
	content: "\e9a8";
}

.mui-icon-extra-fire:before {
	content: "\e9a9";
}

.mui-icon-extra-lab:before {
	content: "\e9aa";
}

.mui-icon-extra-magnet:before {
	content: "\e9ab";
}

.mui-icon-extra-bin:before {
	content: "\e9ac";
}

.mui-icon-extra-bin2:before {
	content: "\e9ad";
}

.mui-icon-extra-briefcase:before {
	content: "\e9ae";
}

.mui-icon-extra-airplane:before {
	content: "\e9af";
}

.mui-icon-extra-truck:before {
	content: "\e9b0";
}

.mui-icon-extra-road:before {
	content: "\e9b1";
}

.mui-icon-extra-accessibility:before {
	content: "\e9b2";
}

.mui-icon-extra-target:before {
	content: "\e9b3";
}

.mui-icon-extra-shield:before {
	content: "\e9b4";
}

.mui-icon-extra-power:before {
	content: "\e9b5";
}

.mui-icon-extra-switch:before {
	content: "\e9b6";
}

.mui-icon-extra-power-cord:before {
	content: "\e9b7";
}

.mui-icon-extra-clipboard:before {
	content: "\e9b8";
}

.mui-icon-extra-list-numbered:before {
	content: "\e9b9";
}

.mui-icon-extra-list:before {
	content: "\e9ba";
}

.mui-icon-extra-list2:before {
	content: "\e9bb";
}

.mui-icon-extra-tree:before {
	content: "\e9bc";
}

.mui-icon-extra-menu:before {
	content: "\e9bd";
}

.mui-icon-extra-menu2:before {
	content: "\e9be";
}

.mui-icon-extra-menu3:before {
	content: "\e9bf";
}

.mui-icon-extra-menu4:before {
	content: "\e9c0";
}

.mui-icon-extra-cloud:before {
	content: "\e9c1";
}

.mui-icon-extra-cloud-download:before {
	content: "\e9c2";
}

.mui-icon-extra-cloud-upload:before {
	content: "\e9c3";
}

.mui-icon-extra-cloud-check:before {
	content: "\e9c4";
}

.mui-icon-extra-download2:before {
	content: "\e9c5";
}

.mui-icon-extra-upload2:before {
	content: "\e9c6";
}

.mui-icon-extra-download3:before {
	content: "\e9c7";
}

.mui-icon-extra-upload3:before {
	content: "\e9c8";
}

.mui-icon-extra-sphere:before {
	content: "\e9c9";
}

.mui-icon-extra-earth:before {
	content: "\e9ca";
}

.mui-icon-extra-link:before {
	content: "\e9cb";
}

.mui-icon-extra-flag:before {
	content: "\e9cc";
}

.mui-icon-extra-attachment:before {
	content: "\e9cd";
}

.mui-icon-extra-eye:before {
	content: "\e9ce";
}

.mui-icon-extra-eye-plus:before {
	content: "\e9cf";
}

.mui-icon-extra-eye-minus:before {
	content: "\e9d0";
}

.mui-icon-extra-eye-blocked:before {
	content: "\e9d1";
}

.mui-icon-extra-bookmark:before {
	content: "\e9d2";
}

.mui-icon-extra-bookmarks:before {
	content: "\e9d3";
}

.mui-icon-extra-sun:before {
	content: "\e9d4";
}

.mui-icon-extra-contrast:before {
	content: "\e9d5";
}

.mui-icon-extra-brightness-contrast:before {
	content: "\e9d6";
}

.mui-icon-extra-star-empty:before {
	content: "\e9d7";
}

.mui-icon-extra-star-half:before {
	content: "\e9d8";
}

.mui-icon-extra-star-full:before {
	content: "\e9d9";
}

.mui-icon-extra-heart:before {
	content: "\e9da";
}

.mui-icon-extra-heart-broken:before {
	content: "\e9db";
}

.mui-icon-extra-man:before {
	content: "\e9dc";
}

.mui-icon-extra-woman:before {
	content: "\e9dd";
}

.mui-icon-extra-man-woman:before {
	content: "\e9de";
}

.mui-icon-extra-happy:before {
	content: "\e9df";
}

.mui-icon-extra-happy2:before {
	content: "\e9e0";
}

.mui-icon-extra-smile:before {
	content: "\e9e1";
}

.mui-icon-extra-smile2:before {
	content: "\e9e2";
}

.mui-icon-extra-tongue:before {
	content: "\e9e3";
}

.mui-icon-extra-tongue2:before {
	content: "\e9e4";
}

.mui-icon-extra-sad:before {
	content: "\e9e5";
}

.mui-icon-extra-sad2:before {
	content: "\e9e6";
}

.mui-icon-extra-wink:before {
	content: "\e9e7";
}

.mui-icon-extra-wink2:before {
	content: "\e9e8";
}

.mui-icon-extra-grin:before {
	content: "\e9e9";
}

.mui-icon-extra-grin2:before {
	content: "\e9ea";
}

.mui-icon-extra-cool:before {
	content: "\e9eb";
}

.mui-icon-extra-cool2:before {
	content: "\e9ec";
}

.mui-icon-extra-angry:before {
	content: "\e9ed";
}

.mui-icon-extra-angry2:before {
	content: "\e9ee";
}

.mui-icon-extra-evil:before {
	content: "\e9ef";
}

.mui-icon-extra-evil2:before {
	content: "\e9f0";
}

.mui-icon-extra-shocked:before {
	content: "\e9f1";
}

.mui-icon-extra-shocked2:before {
	content: "\e9f2";
}

.mui-icon-extra-baffled:before {
	content: "\e9f3";
}

.mui-icon-extra-baffled2:before {
	content: "\e9f4";
}

.mui-icon-extra-confused:before {
	content: "\e9f5";
}

.mui-icon-extra-confused2:before {
	content: "\e9f6";
}

.mui-icon-extra-neutral:before {
	content: "\e9f7";
}

.mui-icon-extra-neutral2:before {
	content: "\e9f8";
}

.mui-icon-extra-hipster:before {
	content: "\e9f9";
}

.mui-icon-extra-hipster2:before {
	content: "\e9fa";
}

.mui-icon-extra-wondering:before {
	content: "\e9fb";
}

.mui-icon-extra-wondering2:before {
	content: "\e9fc";
}

.mui-icon-extra-sleepy:before {
	content: "\e9fd";
}

.mui-icon-extra-sleepy2:before {
	content: "\e9fe";
}

.mui-icon-extra-frustrated:before {
	content: "\e9ff";
}

.mui-icon-extra-frustrated2:before {
	content: "\ea00";
}

.mui-icon-extra-crying:before {
	content: "\ea01";
}

.mui-icon-extra-crying2:before {
	content: "\ea02";
}

.mui-icon-extra-point-up:before {
	content: "\ea03";
}

.mui-icon-extra-point-right:before {
	content: "\ea04";
}

.mui-icon-extra-point-down:before {
	content: "\ea05";
}

.mui-icon-extra-point-left:before {
	content: "\ea06";
}

.mui-icon-extra-warning:before {
	content: "\ea07";
}

.mui-icon-extra-notification:before {
	content: "\ea08";
}

.mui-icon-extra-question:before {
	content: "\ea09";
}

.mui-icon-extra-plus:before {
	content: "\ea0a";
}

.mui-icon-extra-minus:before {
	content: "\ea0b";
}

.mui-icon-extra-info:before {
	content: "\ea0c";
}

.mui-icon-extra-cancel-circle:before {
	content: "\ea0d";
}

.mui-icon-extra-blocked:before {
	content: "\ea0e";
}

.mui-icon-extra-cross:before {
	content: "\ea0f";
}

.mui-icon-extra-checkmark:before {
	content: "\ea10";
}

.mui-icon-extra-checkmark2:before {
	content: "\ea11";
}

.mui-icon-extra-spell-check:before {
	content: "\ea12";
}

.mui-icon-extra-enter:before {
	content: "\ea13";
}

.mui-icon-extra-exit:before {
	content: "\ea14";
}

.mui-icon-extra-play2:before {
	content: "\ea15";
}

.mui-icon-extra-pause:before {
	content: "\ea16";
}

.mui-icon-extra-stop:before {
	content: "\ea17";
}

.mui-icon-extra-previous:before {
	content: "\ea18";
}

.mui-icon-extra-next:before {
	content: "\ea19";
}

.mui-icon-extra-backward:before {
	content: "\ea1a";
}

.mui-icon-extra-forward2:before {
	content: "\ea1b";
}

.mui-icon-extra-play3:before {
	content: "\ea1c";
}

.mui-icon-extra-pause2:before {
	content: "\ea1d";
}

.mui-icon-extra-stop2:before {
	content: "\ea1e";
}

.mui-icon-extra-backward2:before {
	content: "\ea1f";
}

.mui-icon-extra-forward3:before {
	content: "\ea20";
}

.mui-icon-extra-first:before {
	content: "\ea21";
}

.mui-icon-extra-last:before {
	content: "\ea22";
}

.mui-icon-extra-previous2:before {
	content: "\ea23";
}

.mui-icon-extra-next2:before {
	content: "\ea24";
}

.mui-icon-extra-eject:before {
	content: "\ea25";
}

.mui-icon-extra-volume-high:before {
	content: "\ea26";
}

.mui-icon-extra-volume-medium:before {
	content: "\ea27";
}

.mui-icon-extra-volume-low:before {
	content: "\ea28";
}

.mui-icon-extra-volume-mute:before {
	content: "\ea29";
}

.mui-icon-extra-volume-mute2:before {
	content: "\ea2a";
}

.mui-icon-extra-volume-increase:before {
	content: "\ea2b";
}

.mui-icon-extra-volume-decrease:before {
	content: "\ea2c";
}

.mui-icon-extra-loop:before {
	content: "\ea2d";
}

.mui-icon-extra-loop2:before {
	content: "\ea2e";
}

.mui-icon-extra-infinite:before {
	content: "\ea2f";
}

.mui-icon-extra-shuffle:before {
	content: "\ea30";
}

.mui-icon-extra-arrow-up-left:before {
	content: "\ea31";
}

.mui-icon-extra-arrow-up:before {
	content: "\ea32";
}

.mui-icon-extra-arrow-up-right:before {
	content: "\ea33";
}

.mui-icon-extra-arrow-right:before {
	content: "\ea34";
}

.mui-icon-extra-arrow-down-right:before {
	content: "\ea35";
}

.mui-icon-extra-arrow-down:before {
	content: "\ea36";
}

.mui-icon-extra-arrow-down-left:before {
	content: "\ea37";
}

.mui-icon-extra-arrow-left:before {
	content: "\ea38";
}

.mui-icon-extra-arrow-up-left2:before {
	content: "\ea39";
}

.mui-icon-extra-arrow-up2:before {
	content: "\ea3a";
}

.mui-icon-extra-arrow-up-right2:before {
	content: "\ea3b";
}

.mui-icon-extra-arrow-right2:before {
	content: "\ea3c";
}

.mui-icon-extra-arrow-down-right2:before {
	content: "\ea3d";
}

.mui-icon-extra-arrow-down2:before {
	content: "\ea3e";
}

.mui-icon-extra-arrow-down-left2:before {
	content: "\ea3f";
}

.mui-icon-extra-arrow-left2:before {
	content: "\ea40";
}

.mui-icon-extra-circle-up:before {
	content: "\ea41";
}

.mui-icon-extra-circle-right:before {
	content: "\ea42";
}

.mui-icon-extra-circle-down:before {
	content: "\ea43";
}

.mui-icon-extra-circle-left:before {
	content: "\ea44";
}

.mui-icon-extra-tab:before {
	content: "\ea45";
}

.mui-icon-extra-move-up:before {
	content: "\ea46";
}

.mui-icon-extra-move-down:before {
	content: "\ea47";
}

.mui-icon-extra-sort-alpha-asc:before {
	content: "\ea48";
}

.mui-icon-extra-sort-alpha-desc:before {
	content: "\ea49";
}

.mui-icon-extra-sort-numeric-asc:before {
	content: "\ea4a";
}

.mui-icon-extra-sort-numberic-desc:before {
	content: "\ea4b";
}

.mui-icon-extra-sort-amount-asc:before {
	content: "\ea4c";
}

.mui-icon-extra-sort-amount-desc:before {
	content: "\ea4d";
}

.mui-icon-extra-command:before {
	content: "\ea4e";
}

.mui-icon-extra-shift:before {
	content: "\ea4f";
}

.mui-icon-extra-ctrl:before {
	content: "\ea50";
}

.mui-icon-extra-opt:before {
	content: "\ea51";
}

.mui-icon-extra-checkbox-checked:before {
	content: "\ea52";
}

.mui-icon-extra-checkbox-unchecked:before {
	content: "\ea53";
}

.mui-icon-extra-radio-checked:before {
	content: "\ea54";
}

.mui-icon-extra-radio-checked2:before {
	content: "\ea55";
}

.mui-icon-extra-radio-unchecked:before {
	content: "\ea56";
}

.mui-icon-extra-crop:before {
	content: "\ea57";
}

.mui-icon-extra-make-group:before {
	content: "\ea58";
}

.mui-icon-extra-ungroup:before {
	content: "\ea59";
}

.mui-icon-extra-scissors:before {
	content: "\ea5a";
}

.mui-icon-extra-filter:before {
	content: "\ea5b";
}

.mui-icon-extra-font:before {
	content: "\ea5c";
}

.mui-icon-extra-ligature:before {
	content: "\ea5d";
}

.mui-icon-extra-ligature2:before {
	content: "\ea5e";
}

.mui-icon-extra-text-height:before {
	content: "\ea5f";
}

.mui-icon-extra-text-width:before {
	content: "\ea60";
}

.mui-icon-extra-font-size:before {
	content: "\ea61";
}

.mui-icon-extra-bold:before {
	content: "\ea62";
}

.mui-icon-extra-underline:before {
	content: "\ea63";
}

.mui-icon-extra-italic:before {
	content: "\ea64";
}

.mui-icon-extra-strikethrough:before {
	content: "\ea65";
}

.mui-icon-extra-omega:before {
	content: "\ea66";
}

.mui-icon-extra-sigma:before {
	content: "\ea67";
}

.mui-icon-extra-page-break:before {
	content: "\ea68";
}

.mui-icon-extra-superscript:before {
	content: "\ea69";
}

.mui-icon-extra-subscript:before {
	content: "\ea6a";
}

.mui-icon-extra-superscript2:before {
	content: "\ea6b";
}

.mui-icon-extra-subscript2:before {
	content: "\ea6c";
}

.mui-icon-extra-text-color:before {
	content: "\ea6d";
}

.mui-icon-extra-pagebreak:before {
	content: "\ea6e";
}

.mui-icon-extra-clear-formatting:before {
	content: "\ea6f";
}

.mui-icon-extra-table:before {
	content: "\ea70";
}

.mui-icon-extra-table2:before {
	content: "\ea71";
}

.mui-icon-extra-insert-template:before {
	content: "\ea72";
}

.mui-icon-extra-pilcrow:before {
	content: "\ea73";
}

.mui-icon-extra-ltr:before {
	content: "\ea74";
}

.mui-icon-extra-rtl:before {
	content: "\ea75";
}

.mui-icon-extra-section:before {
	content: "\ea76";
}

.mui-icon-extra-paragraph-left:before {
	content: "\ea77";
}

.mui-icon-extra-paragraph-center:before {
	content: "\ea78";
}

.mui-icon-extra-paragraph-right:before {
	content: "\ea79";
}

.mui-icon-extra-paragraph-justify:before {
	content: "\ea7a";
}

.mui-icon-extra-indent-increase:before {
	content: "\ea7b";
}

.mui-icon-extra-indent-decrease:before {
	content: "\ea7c";
}

.mui-icon-extra-share:before {
	content: "\ea7d";
}

.mui-icon-extra-new-tab:before {
	content: "\ea7e";
}

.mui-icon-extra-embed:before {
	content: "\ea7f";
}

.mui-icon-extra-embed2:before {
	content: "\ea80";
}

.mui-icon-extra-terminal:before {
	content: "\ea81";
}

.mui-icon-extra-share2:before {
	content: "\ea82";
}

.mui-icon-extra-mail:before {
	content: "\ea83";
}

.mui-icon-extra-mail2:before {
	content: "\ea84";
}

.mui-icon-extra-mail3:before {
	content: "\ea85";
}

.mui-icon-extra-mail4:before {
	content: "\ea86";
}

.mui-icon-extra-amazon:before {
	content: "\ea87";
}

.mui-icon-extra-google:before {
	content: "\ea88";
}

.mui-icon-extra-google2:before {
	content: "\ea89";
}

.mui-icon-extra-google3:before {
	content: "\ea8a";
}

.mui-icon-extra-google-plus:before {
	content: "\ea8b";
}

.mui-icon-extra-google-plus2:before {
	content: "\ea8c";
}

.mui-icon-extra-google-plus3:before {
	content: "\ea8d";
}

.mui-icon-extra-hangouts:before {
	content: "\ea8e";
}

.mui-icon-extra-google-drive:before {
	content: "\ea8f";
}

.mui-icon-extra-facebook:before {
	content: "\ea90";
}

.mui-icon-extra-facebook2:before {
	content: "\ea91";
}

.mui-icon-extra-instagram:before {
	content: "\ea92";
}

.mui-icon-extra-whatsapp:before {
	content: "\ea93";
}

.mui-icon-extra-spotify:before {
	content: "\ea94";
}

.mui-icon-extra-telegram:before {
	content: "\ea95";
}

.mui-icon-extra-twitter:before {
	content: "\ea96";
}

.mui-icon-extra-vine:before {
	content: "\ea97";
}

.mui-icon-extra-vk:before {
	content: "\ea98";
}

.mui-icon-extra-renren:before {
	content: "\ea99";
}

.mui-icon-extra-sina-weibo:before {
	content: "\ea9a";
}

.mui-icon-extra-rss:before {
	content: "\ea9b";
}

.mui-icon-extra-rss2:before {
	content: "\ea9c";
}

.mui-icon-extra-youtube:before {
	content: "\ea9d";
}

.mui-icon-extra-youtube2:before {
	content: "\ea9e";
}

.mui-icon-extra-twitch:before {
	content: "\ea9f";
}

.mui-icon-extra-vimeo:before {
	content: "\eaa0";
}

.mui-icon-extra-vimeo2:before {
	content: "\eaa1";
}

.mui-icon-extra-lanyrd:before {
	content: "\eaa2";
}

.mui-icon-extra-flickr:before {
	content: "\eaa3";
}

.mui-icon-extra-flickr2:before {
	content: "\eaa4";
}

.mui-icon-extra-flickr3:before {
	content: "\eaa5";
}

.mui-icon-extra-flickr4:before {
	content: "\eaa6";
}

.mui-icon-extra-dribbble:before {
	content: "\eaa7";
}

.mui-icon-extra-behance:before {
	content: "\eaa8";
}

.mui-icon-extra-behance2:before {
	content: "\eaa9";
}

.mui-icon-extra-deviantart:before {
	content: "\eaaa";
}

.mui-icon-extra-500px:before {
	content: "\eaab";
}

.mui-icon-extra-steam:before {
	content: "\eaac";
}

.mui-icon-extra-steam2:before {
	content: "\eaad";
}

.mui-icon-extra-dropbox:before {
	content: "\eaae";
}

.mui-icon-extra-onedrive:before {
	content: "\eaaf";
}

.mui-icon-extra-github:before {
	content: "\eab0";
}

.mui-icon-extra-npm:before {
	content: "\eab1";
}

.mui-icon-extra-basecamp:before {
	content: "\eab2";
}

.mui-icon-extra-trello:before {
	content: "\eab3";
}

.mui-icon-extra-wordpress:before {
	content: "\eab4";
}

.mui-icon-extra-joomla:before {
	content: "\eab5";
}

.mui-icon-extra-ello:before {
	content: "\eab6";
}

.mui-icon-extra-blogger:before {
	content: "\eab7";
}

.mui-icon-extra-blogger2:before {
	content: "\eab8";
}

.mui-icon-extra-tumblr:before {
	content: "\eab9";
}

.mui-icon-extra-tumblr2:before {
	content: "\eaba";
}

.mui-icon-extra-yahoo:before {
	content: "\eabb";
}

.mui-icon-extra-yahoo2:before {
	content: "\eabc";
}

.mui-icon-extra-tux:before {
	content: "\eabd";
}

.mui-icon-extra-appleinc:before {
	content: "\eabe";
}

.mui-icon-extra-finder:before {
	content: "\eabf";
}

.mui-icon-extra-android:before {
	content: "\eac0";
}

.mui-icon-extra-windows:before {
	content: "\eac1";
}

.mui-icon-extra-windows8:before {
	content: "\eac2";
}

.mui-icon-extra-soundcloud:before {
	content: "\eac3";
}

.mui-icon-extra-soundcloud2:before {
	content: "\eac4";
}

.mui-icon-extra-skype:before {
	content: "\eac5";
}

.mui-icon-extra-reddit:before {
	content: "\eac6";
}

.mui-icon-extra-hackernews:before {
	content: "\eac7";
}

.mui-icon-extra-wikipedia:before {
	content: "\eac8";
}

.mui-icon-extra-linkedin:before {
	content: "\eac9";
}

.mui-icon-extra-linkedin2:before {
	content: "\eaca";
}

.mui-icon-extra-lastfm:before {
	content: "\eacb";
}

.mui-icon-extra-lastfm2:before {
	content: "\eacc";
}

.mui-icon-extra-delicious:before {
	content: "\eacd";
}

.mui-icon-extra-stumbleupon:before {
	content: "\eace";
}

.mui-icon-extra-stumbleupon2:before {
	content: "\eacf";
}

.mui-icon-extra-stackoverflow:before {
	content: "\ead0";
}

.mui-icon-extra-pinterest:before {
	content: "\ead1";
}

.mui-icon-extra-pinterest2:before {
	content: "\ead2";
}

.mui-icon-extra-xing:before {
	content: "\ead3";
}

.mui-icon-extra-xing2:before {
	content: "\ead4";
}

.mui-icon-extra-flattr:before {
	content: "\ead5";
}

.mui-icon-extra-foursquare:before {
	content: "\ead6";
}

.mui-icon-extra-yelp:before {
	content: "\ead7";
}

.mui-icon-extra-paypal:before {
	content: "\ead8";
}

.mui-icon-extra-chrome:before {
	content: "\ead9";
}

.mui-icon-extra-firefox:before {
	content: "\eada";
}

.mui-icon-extra-IE:before {
	content: "\eadb";
}

.mui-icon-extra-edge:before {
	content: "\eadc";
}

.mui-icon-extra-safari:before {
	content: "\eadd";
}

.mui-icon-extra-opera:before {
	content: "\eade";
}

.mui-icon-extra-file-pdf:before {
	content: "\eadf";
}

.mui-icon-extra-file-openoffice:before {
	content: "\eae0";
}

.mui-icon-extra-file-word:before {
	content: "\eae1";
}

.mui-icon-extra-file-excel:before {
	content: "\eae2";
}

.mui-icon-extra-libreoffice:before {
	content: "\eae3";
}

.mui-icon-extra-html-five:before {
	content: "\eae4";
}

.mui-icon-extra-html-five2:before {
	content: "\eae5";
}

.mui-icon-extra-css3:before {
	content: "\eae6";
}

.mui-icon-extra-git:before {
	content: "\eae7";
}

.mui-icon-extra-codepen:before {
	content: "\eae8";
}

.mui-icon-extra-svg:before {
	content: "\eae9";
}

.mui-icon-extra-IcoMoon:before {
	content: "\eaea";
}