@CHARSET "UTF-8";

.MenuItem {
	font-size: 16px;
	cursor: hand;
	width: 92px;
	height: 110px;
	text-align: center;
	margin-top: 20px;
	border: 1px solid #eee;
}

.MenuItem_un {
	font-size: 16px;
	cursor: hand;
	width: 92px;
	height: 110px;
	text-align: center;
	margin-top: 20px;
}

.MenuItem img {
	width: 68px;
	height: 68px;
}

.MenuItem_text {
	color: #000;
}

.MenuItem a {
	color: blue;
	text-decoration: none;
	line-height: 1px;
}

.countTixview_un {
	position: relative;
	top: 20px;
	left: 40px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 11pt;
	z-index: 1;
	margin-top: -20px;
}

.countTixview {
	position: relative;
	top: 20px;
	left: 55px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	font-size: 11pt;
	background: url(image/rouan.png);
	z-index: 1;
	margin-top: -20px;
}